<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="ja">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="ja">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="ja">
<!--<![endif]-->
<%- include('./layout/_head') -%>
<body id="top">
  <!-- <header>
    <h1>Alt+</h1>
  </header> -->
  <main>
    <div id="stage"></div>
    <div class="container">
      <div class="top-holotama">
        <a href="./holotama" class="test"><h2>Holotama</h2></a>
      </div>
      <div class="top-mixedsignage">
        <a href="./tango" class="test"><h2>Mixed Signage</h2></a>
      </div>
    </div>
  </main>
  <script type="text/javascript" src="js/index.js"></script>
</body>
</html>