<!--[if IE 7]>
<html class="ie ie7" lang="ja">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="ja">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="ja">
<!--<![endif]-->
<%- include('../layout/_head') -%>
<body id="mixedsignage">
  <header>
    <h1>Alt+</h1>
  </header>
  <main>
    <div id="stage"></div>
  </main>
  <%- include('../layout/_footer') -%>

  <script type="text/javascript" src="../js/index.js"></script>
</body>
</html>